

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #022c43, #0466c8);
  margin: 0;
  padding: 0;
  color: #fff;
}


header {
  background-color: #022c43;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  color: #ffcc00;
}

nav a.active {
  color: #ffcc00;
}

/* Estilo para el título principal */
h1 {
  text-align: center;
  color: #fff;
  padding: 40px 0;
  font-size: 2.5rem;
}

/* Contenedor de las cards */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

/* Estilo individual de las cards */
.card {
  background-color: #fff;
  color: #000;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card h2 {
  margin: 15px 0;
  font-size: 1.5rem;
  color: #333;
}
.imagen-lian {
  object-fit: contain; 
  height: 250px; 
  object-position: center;
}
.card img {
  height: 250px; 
}

.card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

footer {
  background-color: #022c43;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  font-size: 1rem;
}

footer p {
  margin: 0;
}